#reviews body {
  text-align: -webkit-center;
}
#reviews {
  padding: 2.25rem 5.35rem;
  width: 1024px;
  display: flex;
  position: relative;
  line-height: 1.5;
  font-size: .9375rem;
  margin-left: auto;
  margin-right: auto;
}

#reviews .main {
  width: 100%;
  font-weight: lighter;
}

#reviews .app-component {
  display: flex;
}

#reviews em {
  font-style: normal;
  font-weight: 400;
}



#reviews h2.app-header {
  font-family: 'Poynter',Georgia,serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  align-items: flex-end;
}

#reviews h2.app-header:after,
#reviews h2.app-header:before {
  content: " ";
  position: relative;
  background-color: #ccc;
  display: flex;
  height: 1px;
  flex-grow: .5;
  box-sizing: border-box;
  align-self: center;
}

#reviews h2.app-header:after {
  margin-left: .5em;
}
#reviews h2.app-header:before {
  margin-right: .5em;
}





#reviews .summary-bar {
  font-weight: 400;
}

#reviews .summary-element {
  display: flex;
  float: left;
  padding: 5px;
}

#reviews .summary-stars {
  padding-left: 0px;
}

#reviews .review-count {
  color: darkgreen;
  border-left: solid 1px darkgray;
  padding-left:10px;
}

#reviews .avg-review {
  padding-right: 10px
}





#reviews .search-bar {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px #a9a9a991;
  border-bottom: solid 1px #a9a9a991;
}

#reviews .search-box {
  background-color: #f7f7f7;
  display: block;
}

#reviews .search-input  {
  height: 32px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-width: 1px;
  box-sizing: border-box;
  width: 360px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 3.5px 0px 0px 3.5px;
}

#reviews .search-input:focus {
  border-color: black;
  outline-width: 0px;
}






#reviews .summary-bar {
  padding: 15px 20px 10px 20px;
  width: 100%;
}

#reviews .summary-bar-line-one,
#reviews .summary-bar-line-two {
  display: flex;
}






#reviews .breakdown-box {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 17px;
  padding-top: 5px;
  display:block;
}

#reviews .breakdown-box-top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#reviews .breakdown-box-bottom {
  display:flex;
}

#reviews .breakdown-box-section {
  width: 50%;
  text-align: left;
}

#reviews .breakdown-box-section h4 {
  padding-left: 8px;
  margin-bottom: 2px;
}

#reviews .breakdown-box-section p {
  font-size: 14px;
  padding-left: 8px;
  margin-top: 2px;
  font-weight: 400;
}

#reviews .breakdown-box-summary {
  font-size: 13px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    width: 50%;
}

#reviews .breakdown-box-stars > .star-ratings{
  padding-left: 15px;
}




#reviews .snapshot-bars {
  width: 50%;
  margin-right: auto;
  padding-bottom: 50px;
}

#reviews .snapshot-bar {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  padding: 0px 120px 10px 20px;
  font-size: 13px;
}

#reviews .bars {
  display: flex;
  align-items: center;
  padding-right: 30px;
  cursor: pointer;
}

#reviews .green-bar {
  background-color: #347d56;
  height: 10px;
  background-image: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
  border-radius: 2px;
}

#reviews .gray-bar {
  background-color: #eeeeed;
  background-image: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,0) 100%);
  box-shadow: inset 0 0 2px rgba(0,0,0,.25);
  border-bottom-right-radius: 2px;
  height: 10px;
  border-top-right-radius: 2px;
}





#reviews .MuiButton-label {
  text-transform: none;
  background-color: #3d6db5;
  color: white;
  padding: 10px 10px;
}

#reviews .MuiButton-text.write-review-button {
  padding-right: 0px;
}





#reviews .sort-bar {
  justify-content: space-between;
  font-weight: 700;
  background-color: rgb(247 247 247);
  font-size: 16px;
  font-family: Lato, sans-serif;
  padding: 15px 10px;
  align-items: center;
}

#reviews .sort-menu {
  display:flex;
  padding-right: 5px;
}

#reviews .sort-dropdown {
  padding-left: 5px;
}









#reviews .sort-bar.filter-bar {
  justify-content: left;
  padding-top: 0px;
}






#reviews .filter {
  background-color: #3d6db5;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 73px;
  text-align: center;
  height: 38px;
  margin: 2px;
  padding-top: 9px;
  cursor: pointer;
}

#reviews .clear-filter {
  color: #2a5a35;
  border: solid 1px;
  border-color: #2a5a35;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 80px;
  text-align: center;
  height: 38px;
  margin: 2px;
  padding-top: 9px;
  cursor: pointer;
}

#reviews .filter-x {
  font-size: .7em;
  background-color: white;
}

#reviews .clear-filter-x {
  font-size: .7em;
  background-color: #2a5a35;
  color: white;
}









#reviews .review-box {
  border-top: solid 1px #eeeeed;
  margin-top: 7px;
  font-family: 'Lato', sans-serif;
}

#reviews .review-box p {
  font-weight: 300;
  font-size: 13px;
}

#reviews .review-author-summary {
  width: 27%;
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
}

#reviews .review-author-summary h3 {
  line-height: 18px;
  font-size: 16px;
}

#reviews .review-stats {
  margin: 0;
}

#reviews .review-body {
  margin-top: 25px;
  width: 73%;
  text-align: left;
}

#reviews .review-body-rating {
  display: flex;
  align-items: center;
}

#reviews .review-body-moment {
  padding-left: 3px;
  font-size: 11px;
  font-weight: 400;
}

#reviews .review-body-dot {
  font-weight: 300;
  padding-left: 5px;
}

#reviews .review-body-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

#reviews .review-body-text {
  line-height: 20px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px;
}

#reviews .spoiler-bar {
  padding-top: 10px;
}

#reviews .spoiler-bar-static {
  font-size: 14px;
  font-weight: 700;
  color: rgb(52, 125, 86);
  padding-right: 7px;
}

#reviews .spoiler-bar-variable {
  font-size: 13px;
  font-weight: 400;
}

#reviews .tag {
  padding-right: 7px;
}

#reviews .tag-icon:before {
  font-size: 10px;
}

#reviews .check-icon:before {
  font-size: 12px;
}

#reviews .helpful-voter {
  display: flex;
  padding-top: 20px;
  padding-left: 5px;
  font-weight: 400;
}

#reviews .helpful-voter p {
  padding-right:10px;
}

#reviews .helpful-item {
  background-color: #eeeeee;
  padding: 3px 10px;
  margin-left: 7px;
  height: 100%;
  color: darkgreen;
  font-weight: 400 !important;
}







#reviews .app-component.sort-bar.nav-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

#reviews .arrows {
  display: flex;
}

#reviews .nav-button {
  padding: 5px !important;
  border-radius: 0px !important;
}

#reviews .nav-button-right {
  margin-right: 0px !important;
}